:root {
  --light: rgb(251, 250, 251);
  --dark: #013260;
  --color-m: rgb(73, 75, 138);
  --li-gr:#04fcd3;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {

  background-color: rgb(110, 145, 251);
}

#figh2 {
  background-color: var(--color-m);
  padding: 14px;
  width: 254px;
}

#figh2::after {
  content: '\01F609';
  margin-left: 5px;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color: var(--dark);
  ;
  flex-wrap: wrap;
}

.header h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: var(--color-m);
  width: 220px;
  font-size: 40px;
  padding-left: 66px;
}

a {
  color: var(--light);
  font-size: 16px;
  text-decoration: none;
  font-weight: bolder;
}

nav ul div {
  display: flex;
  float: left;
  justify-content: space-between;
  list-style: none;
  border-bottom: 5px solid var(--color-m);
  padding: 4px;
  margin-right: 20px;
}

#figure {
  background-image: url("../img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 279px;
  width: 100%;
}


section {
  display: flex;
  margin-top: 10px;
}

section header {
  flex-basis: 18%;
  border-right: solid var(--color-m) 4px;
  margin-right: 28px;
  text-align: right;
  padding: 17px;

}

.onlybelow h3 {
  background-color: var(--color-m);
  padding: 14px;
  width: 144px;
  position: absolute;
}

.onlybelow div a {
  border: solid 2px var(--dark);
  margin-top: 9px;
  width: 150px;
  margin-left: 9px;

}

section div {
  flex-basis: 70%;
}

.main2 {
  display: flex;
  flex-wrap: wrap;

}

.main2 a {
  flex-basis: 49%;
  height: 177px;
}

.main2 a:first-child {
  flex-basis: 100%;
  height: 310px;
}

section ul div {
  display: flex;
  flex-basis: 72%;
  justify-content: space-between;
  list-style: none;
  border-bottom: 5px solid var(--dark);
  float: left;
  padding: 5px 32px;
  margin: 2px;
}


ul a:hover {
  background-color: var(--color-m);
  color: var(--light);
}

#aid1 {
  background-image: url("../img/1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#aid2 {
  background-image: url("../img/2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#aid3 {
  background-image: url("../img/3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#aid4 {
  background-image: url("../img/4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#aid5 {
  background-image: url("../img/5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

h1,h2,h3 {
text-shadow: 2px 2px 5px var(--li-gr);
}